<nav class="navbar navbar-expand-lg fixed-top navbar-custom" id="navbar">
    <div class="container-fluid">
        <!-- LOGO -->
        <a class="logo text-uppercase">

            <img src="~/images/logo-light-4.png" alt="" class="logo-light" height="20" />
            <img src="~/images/logo-dark-2.png" alt="" class="logo-dark" height="20" />
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <i class="mdi mdi-menu"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto navbar-center" id="mySidenav">
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index","Home")">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Stream", "Home")">Stream</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Library","Home")">Bibliothèque</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Index", "Login")">Se connecter</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Register","Home")">Créer un compte</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
