@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    ViewBag.Title = "Library";
}

@using System.Web.Optimization
@model Musique.Web.Models.UserData
@*@model IEnumerable<Musique.Web.Models.UserData>*@

@*<div class="row">
    <div class="col-lg-6">
        <div>

            @using (Ajax.BeginForm("Titre", "Home", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "success",
                OnFailure = "fail",
                UpdateTargetId = "resultTarget"
            }))
            {
                foreach (var track in Model.Tracks)
                {
            <div class="popular-post media">
                <img src="~/images/ost.jpg" class="img-fluid rounded mr-3" alt="" height="100" width="100">

                <div class="media-body mt-3 mr-3">
                    <h5 class="mt-0 font-14"><a href="#" class="text-dark">@track</a></h5>
                    <span class="text-muted">...</span>
                    <audio controls>
                <source src="~/audio/Subnautica Soundtrack Into The Unknown.mp3" type="audio/mp3">
            </audio>
                </div>


                @Html.Hidden("btn", track)
                <button style="float: right" class="btn btn-primary btn-xs" name="btn"
                        type="submit" value="@track">
                    More
                </button>
            </div>

                }
            }

        </div>
        </div>
    </div>*@
<!-- end row -->

<div class="row">
    <div class="col-lg-6">
        <div>

            @using (Ajax.BeginForm("Library", "Home", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "success",
                OnFailure = "fail",
                UpdateTargetId = "resultTarget"
            }))
            {
                foreach (var track in Model.LibraryTracks)
                {
            <div class="popular-post media">
                <img src="@track.CoverImage" class="img-fluid rounded mr-3" alt="" height="100" width="100">

                <div class="media-body mt-3 mr-3">
                    <h5 class="mt-0 font-14"><a class="text-dark">@track.TrackTitle</a></h5>
                    <span class="text-muted">@track.ArtistName</span>
                    <audio controls>
                        <source src="@track.FilePath" type="audio/mp3">
                    </audio>
                </div>
                @Html.Hidden("btnDelete", track)
                <button style="float: right" class="btn btn-primary btn-xs mr-2" name="btn"
                        type="submit" value="@track.TrackTitle">
                    @*Вопросик : передать трек и сам объкт UserData*@
                    Delete
                </button>
                @Html.Hidden("btnLike", track)
                <button style="float: right" class="btn btn-danger btn-xs mr-2" name="btn"
                        type="submit" value="@track">
                    Like
                </button>
                @Html.Hidden("btnFollow", track)
                <button style="float: right" class="btn btn-success btn-xs" name="btn"
                        type="submit" value="@track">
                    Suivre
                </button>
            </div>
                }
            }
        </div>
    </div>
</div>
<!-- end row -->

<div class="row">
    <div class="col-lg-12">
        <div class="mt-4">
            <nav aria-label="Page navigation example">
                <ul class="pagination pagination-rounded justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="mdi mdi-chevron-left"></i>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                            <i class="mdi mdi-chevron-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- end row -->

@section Scripts {
    @Scripts.Render("~/bundles/unobtrusive/js")

    <script type="text/javascript">
        function success(data) {
            if (data.RedirectUrl) {
                window.location.href = data.RedirectUrl;
            } else {
                $("#resultTarget").text(data.msg);
            }
        }

        function fail(data) {
            $("#resultTarget").text(data);
        }

    </script>
}
